/* Canvas Start */

canvas {
	position: absolute;
	top: 0;
	left: 0;
}
p {
	margin: 0 0;
	position: absolute;
	font: 16px Verdana;
	color: #eee;
	height: 25px;
	top: calc( 100vh - 30px );
	text-shadow: 0 0 2px white;
}
p a {
	text-decoration: none;
	color: #aaa;
}
span {
	font-size: 11px;
}
p > a:first-of-type {
	font-size: 20px;
}
#body {
	overflow: hidden;
}
#bmc-wbtn{
  display: none !important;
}
/* Canvas End */

.booContainer img{
  display: block;
  margin: 0 auto;
}
.image-slider {
  overflow: hidden;
}

.image-slider img {
  transition: transform 1s ease-in-out;
}

.card4,
.card5 {
  position: relative;
}

.card4::before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: white;
  position: absolute;
  top: calc(50% - 2.5px);
  left: 0;
  z-index: 2;
}

.card5::before {
  content: "";
  display: block;
  width: 5px;
  height: 100%;
  background: white;
  position: absolute;
  left: calc(50% - 2.5px);
  top: 0;
  z-index: 2;
}
.swiper-slide{
  object-fit: contain;
}

@media only screen and (max-width:768px){
  .gridView {
    padding: 20px;
    margin: 0 auto;
    width: 100%;
  }
  .mySwiper1{
    height: 240px;
  }
  .mySwiper4{
    height: 240px;
  }
  .job{
    width: 100%;
  }
}

@media only screen and (max-width:480px) {
  .gridView {
    padding: 20px;
    margin: 0 auto;
    width: 100%;
  }
  .mySwiper1{
    height: 135px;
  }
  .mySwiper4{
    height: 135px;
  }
  .job{
    width: 100%;
  }
}
